@import url(https://db.onlinewebfonts.com/c/a231aa387e7fb896781f04805167556d?family=Moderat+Extended);

:root {
  --font-primary: 'Moderat Extended', arial;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  font-size: 14px;

}

@media (max-width: 767.98px) {
  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: flex;
    flex-direction: column;
  }

  .navbar-toggler {
    display: block;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    width: auto;
  }
}

.navbar-nav {
  width: 100%;
}

.navbar-brand:focus {
  outline: transparent;
}

.navbar-brand:hover {
  cursor: pointer;
}

.nav-item a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.list-modal li {
  list-style: none;
  text-decoration: none;
}

.interactive-button {
  padding: 5px 8px;
  background-color: rgb(200, 215, 215);
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.interactive-button:hover {
  background-color: rgb(0, 0, 0);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#sale-text {
  animation: sale-text 4s infinite;
  color: rgb(93, 92, 92);

}

@keyframes sale-text {
  0% {
    color: rgb(183, 179, 179);

  }

  25% {
    color: black;
  }

  50% {
    color: rgb(183, 179, 179);
  }

  75% {
    color: black;
  }

  100% {
    color: rgb(183, 179, 179);
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  text-align: start;
  padding: 5px;
  border: none;
}

.card-product img {
  border: solid 1px;
  border-color: rgb(183, 179, 179);
}

.image-container {
  position: relative;
}

.cart-icon {
  position: absolute;
  bottom: 10px;
  right: 8px;
  padding: 10px;
}

.card h5 {
  font-size: 11px;
}

.card .card-price s {
  font-size: 11px;
}