* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;

}

@media (max-width: 767.98px) {
  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: flex;
    flex-direction: column;
  }

  .navbar-toggler {
    display: block;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }

  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    width: auto;
  }
}

.navbar-nav {
  width: 100%;
}

.modal-body .form-control:focus {
  border-color: #e70d0d ;

}

.modal-body .form-control:active {
  border-color: #e70d0d ;

}

.custom-position {
  right: 0.1rem;
  top: 0.1rem;
}

p.encurtar-3l {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.interactive-button {
  padding: 5px 8px;
  background-color: rgb(200, 215, 215);
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.interactive-button:hover {
  background-color: rgb(0, 0, 0);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

#sale-text {
  animation: sale-text 4s infinite;
  color: rgb(93, 92, 92);

}

@keyframes sale-text {
  0% {
    color: rgb(183, 179, 179);

  }

  25% {
    color: black;
  }

  50% {
    color: rgb(183, 179, 179);
  }

  75% {
    color: black;
  }

  100% {
    color: rgb(183, 179, 179);
  }
}